
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap');
body {
    background-color: #b91cd1;
    font-family: Libertinus Keyboard ;


    
    color: rgb(40, 237, 230);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    
}